<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <!-- Font-Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>

  <!-- Navbar -->
  <div class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Group Chat App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 px-1">
                <li class="nav-item me-2 ps-2">
                  <div class="navbar-text text-warning" id="usernameNav">John Doe</div>
                </li>
                <li class="nav-item me-2 pt-1">
                  <button class="btn btn-sm btn-outline-light border-0" id="logoutBtn">Logout</button>
                </li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Error/Success -->
  <div class="container col-md-8 col-lg-7 col-xl-6 my-1">
    <div id="errMsg" class="text-center text-danger"></div>
    <div id="successMsg" class="text-center text-success"></div>
  </div>

  <!-- My Groups -->
  <div class="container bg-light">
    <h3 class="text-center text-success">Groups</h3>
    <div class="container bg-light my-1" id="groupsContainer"></div>
  </div>

  <!-- Control Buttons -->
  <!-- Show Group Members/Create Group/Send Request/Show Received Requests/Request History -->
  <div class="container bg-light my-1">
    <button class="btn btn-sm btn-success m-1" id="showGroupMembersBtn">Show Group Members</button>
    <button class="btn btn-sm btn-success m-1" id="createGroupBtn">Create Group +</button>
    <button class="btn btn-sm btn-success m-1" id="sendRequestBtn">Send Request >></button>
    <button class="btn btn-sm btn-success m-1" id="receivedRequestsBtn">Show received requests</button>
    <button class="btn btn-sm btn-success m-1" id="showRequestHistoryBtn">Request History</button>
    <button class="btn btn-sm btn-danger m-1" id="leaveGroupBtn">Leave Group</button>
  </div>

  <!-- Received Requests -->
  <div class="container bg-light" id="receivedRequestsOuterContainer" style="display: none;">
    <button id="closeReceivedRequestsBtn" class="btn btn-sm btn-outline-danger float-end">X</button>
    <h4 class="text-center text-success">Received Requests</h4>
    <div class="container bg-light" id="receivedRequestsContainer"></div>
  </div>

  <!-- Send Request Form -->
  <div class="container bg-light col-md-8 col-lg-7 col-xl-6 my-1 py-2" id="sendRequestContainer"
  style="display: none;">
      <button id="closeSendRequestFormBtn" class="btn btn-sm btn-outline-danger float-end">X</button>
      <h4 class="text-center text-success">Send Request</h4>
      <form id="groupForm">
          <label for="requestEmail" class="form-label">Receiver Email</label>
          <input type="email" name="requestEmail" id="requestEmail" class="form-control mb-1" placeholder="abc@xyz.com" required>
          <div class="text-center">
              <button type="submit" class="btn btn-success col-8 mt-1" id="sendRequestSubmitBtn">Submit</button>
          </div>
      </form>
  </div>
  
  <!-- Create Group Form -->
  <div class="container bg-light col-md-8 col-lg-7 col-xl-6 my-1 py-2" id="createGroupContainer"
  style="display: none;">
      <button id="closeCreateGroupFormBtn" class="btn btn-sm btn-outline-danger float-end">X</button>
      <h4 class="text-center text-success">Create Group</h4>
      <form id="createGroupForm">
          <label for="groupName" class="form-label">Group Name</label>
          <input type="text" name="groupName" id="groupName" class="form-control mb-1" placeholder="Enter group name" required>
          <div class="text-center">
              <button type="submit" class="btn btn-success col-8 mt-1" id="createGroupSubmitBtn">Submit</button>
          </div>
      </form>
  </div>

  <!-- Chats/Send message -->
  <div class="container bg-light col-md-8 col-lg-7 col-xl-6 my-1 py-2">
    <form id="uploadFileForm">
      <div class="row">
        <div class="col-1">
          <label for="uploadFile" class="form-label">
            <i class="fa-solid fa-image" style="font-size: 25px;"></i>
          </label>
        </div>
        <div class="col-9">
          <input class="form-control form-control-sm" id="uploadFileInput" name="myFile" type="file" required>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-sm btn-outline-secondary">Upload</button>
        </div>
      </div>
    </form>
    <hr>
    <h2 class="text-center text-success">Chats</h2>
    <div class="container bg-light py-1" id="chatList"></div>
    <hr>
    <div class="input-group">
      <input type="text" class="form-control bg-light" id="sendMessage" placeholder="Enter message"
      aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="sendBtn">Send</button>
      </div>
    </div>
  </div>

  <!-- Group Members -->
  <div class="container bg-light col-md-8 col-lg-7 col-xl-6 my-1 py-2" id="groupMembersContainer" 
  style="display: none;">
    <button class="btn btn-sm btn-danger float-end" id="closeGroupMembersBtn">X</button>
    <h3 class="text-center text-success">Group Members</h3>
    <div class="container" id="groupMembersTableContainer">
      <table class="table table-sm table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Position</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="groupMembersTableBody">
          <!-- <tr>
            <td>abc</td>
            <td>abc@xyz.com</td>
            <td>Admin</td>
            <td>Admin/Remove</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- Request History -->
  <div class="container bg-light" id="requestHistoryContainer" style="display: none;">
    <button class="btn btn-sm btn-danger float-end" id="closeRequestHistoryBtn">X</button>
    <div class="d-flex flex-row flex-column flex-lg-row m-1">
      <div class="p-2">
        <h3 class="text-center text-success">Received Requests</h3>
        <table class="table table-sm table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Group</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody id="receivedRequestsTableBody">
            <!-- <tr>
              <td>abc</td>
              <td>abc@xyz.com</td>
              <td>friends</td>
              <td>accepted</td>
              <td>2023-04-04</td>
              <td>12:13:51</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="p-2">
        <h3 class="text-center text-success">Sent Requests</h3>
        <table class="table table-sm table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Group</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody id="sentRequestsTableBody">
            <!-- <tr>
              <td>abc@xyz.com</td>
              <td>friends</td>
              <td>accepted</td>
              <td>2023-04-04</td>
              <td>12:13:51.000Z</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
<!-- Javascript -->
<script src="/js/chat.js"></script>

</html>