<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>Add New User </title>
    <link rel="stylesheet" href="stylesheets/about.css"/>
  </head>
  <body>
    <div class="container">
        <h1>ALL ARE USERS</h1><br><br>
          <h3>All Facallties</h3>



<h3>NEW USERS</h3>

  <table style="width:100%">
  <tr>
    <th>Users </th>
    <th>Name</th>
    <th>courses</th>
   </tr>
  <tr>
    <td>Course Head</td>
    <td>Mr.jagdish sir</td>
    <td>CP09</td>
 </tr>
  <tr>
    <td>Placement incharge</td>
    <td> Mrs.rijina maam</td>
    <td>CP09</td>

  </tr>
  <tr>
    <td>HOD</td>
    <td>Mrs.bhumna maam</td>
    <td>CP09</td>

  </tr>

</table>
</div>

  </body>

              <div class="btn-group btn-group-justified">

      <a href="/home" class="btn btn-info" role="button">GO BACK</a>

    </div>
</html>
