<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>NTTF Dashboard</title>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
  <body>

    <header>
      <div class="container">
          <div class="row">
              <a href="">Welcome To NTTF</a>
                <nav>
                  <ul>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/service">Service</a></li>
                        <li><a href="/add">add users</a></li>

                 </ul>
              </nav>
          </div>
      </div>
    </header>'

    <!--Sliding the Images -->
         <div class="slider" id="slider">
            <ul class="slider-carousel" id="slider-carousel">
                <li class="image1">
                    <h2><span>NTTF </span>WORLD! </h2>
                  <br><br>
                      <a href="/register" class="btn btn-half">Get Started</a>
                      <br>
                      <br>
                      <br>
                      <br>



                </li>
                <li class="image2">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>


                  <h1> Created by [CP09] FINAL YEAR </h1>
                  <br>

                    <h1>Web developer [AVINASH KUMAR]</h1>



                </li>

            </ul>
        </div>
  </body>
</html>
