<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>NTTF Service</title>
    <link rel="stylesheet" href="stylesheets/service.css"/>
  </head>
  <body>
      <div class="container">
          <h1>NTTF Service</h1><br><br>
            <p>Nttf in association with Dayananda Sagar University(DUS) is now offering 3-years B.Voc Degree programme as per UGC
            guideline for the PUC/class 12/+2 passed candidates!</p>
            <h2>
              B.Voc in Tool Engineering + Diploma in tool & die making
            </h2>
            <p> With 3 years (Concurrent with NTTF Diploma)</p>


      </div>
  </body>
  <div class="btn-group btn-group-justified">

<a href="/home" class="btn btn-info" role="button">GO BACK</a>

</div>
</html>
