<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<link rel="stylesheet" type="text/css" href="/st/BATCH.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
  <h2 align="left"> DATE = 04/12/2019 </h2>
<h3>BATCH WISE ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left"> CP09 2nd YEAR</th>
<th class="text-left">PRESENT</th>
<th class="text-left">ABSENT</th>
<th class="text-left">TOTAL NUMBER OF STUDENT</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">
<a href="/table8" class="small-box-footer">A1 BATCH <i class="fa fa-arrow-circle-right"></i></a>
</td>
<td class="text-left">30</td>
<td class="text-left">03</td>
<td class="text-left">33</td>
</tr>
<tr>
	<td class="text-left">
<a href="/table8" class="small-box-footer">A2 BATCH <i class="fa fa-arrow-circle-right"></i></a>
  </td>
	<td class="text-left">30</td>
	<td class="text-left">00</td>
	<td class="text-left">30</td>
</tr>

</tbody>
</table>
<div class="btn-group btn-group-justified">

<a href="/table2" class="btn btn-info" role="button">GO BACK</a>

</div>


  </body>
