<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<link rel="stylesheet" type="text/css" href="st/total_cour_stt.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h2 align="left"> DATE = 04/12/2019 </h2>

<h3>NEC  CENTER   ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">COURSES</th>
<th class="text-left">PRESENT</th>
<th class="text-left">ABSENT</th>
<th class="text-left">TOTAL NUMBER OF STUDENTS</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">
  <a href="/table2" class="small-box-footer">CP09 <i class="fa fa-arrow-circle-right"></i></a>
</td>
<td class="text-left">136</td>
<td class="text-left">04</td>
<td class="text-left">140</td>
</tr>
<tr>
	<td class="text-left">
  <a href="/table2" class="small-box-footer">CP08 <i class="fa fa-arrow-circle-right"></i></a>
	</td>
	<td class="text-left">130</td>
	<td class="text-left">20</td>
	<td class="text-left">150</td>
</tr>
<tr>
	<td class="text-left">
  <a href="/table2" class="small-box-footer">CP04<i class="fa fa-arrow-circle-right"></i></a>
	</td>
	<td class="text-left">170</td>
	<td class="text-left">30</td>
	<td class="text-left">200</td>
</tr>
<tr>
	<td class="text-left">
  <a href="/table2" class="small-box-footer">CP15 <i class="fa fa-arrow-circle-right"></i></a>
	</td>
	<td class="text-left">300</td>
	<td class="text-left">30</td>
	<td class="text-left">330</td>
</tr>

</tbody>
</table>
<div class="btn-group btn-group-justified">

<a href="/dash" class="btn btn-info" role="button">GO BACK</a>

</div>


  </body>
