<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
  	<link rel="stylesheet" type="text/css" href="/st/table1_bio.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>BIO METRIC ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Student name</th>
<th class="text-left">token number</th>
	<th class="text-left">section</th>
	<th class="text-left">course</th>
	<th class="text-left">year</th>
	<th class="text-left">centre</th>
	<th class="text-left">date</th>
	<th class="text-left">in time</th>
	<th class="text-left">out time</th>
		<th class="text-left">hours</th>



</tr>
</thead>
<tbody class="table-hover">
	<tr>
	<td class="text-left">Sayana K</td>
	<td class="text-left">NEC0918001</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>

<tr>
<td class="text-left">Sangeerth subodh</td>
<td class="text-left">NEC0918002</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Shamil k</td>
<td class="text-left">NEC0918003</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Abhishek S.R</td>
<td class="text-left">NEC0918004</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>
	<tr>
	<td class="text-left">Shibin Thomas</td>
	<td class="text-left">NEC0918005</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Abhilash B</td>
	<td class="text-left">NEC0918006</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Bharath P.A</td>
	<td class="text-left">NEC0918007</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Pramjeet Kaur</td>
	<td class="text-left">NEC0918008</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Navaneeth K</td>
	<td class="text-left">NEC0918009</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Kiran lal P.P</td>
	<td class="text-left">NEC0918010</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2018</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>



</tr>
<tr>
<td class="text-left">Kajal kumari</td>
<td class="text-left">NEC0918011</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Divya Sahithi</td>
<td class="text-left">NEC0918012</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Konjethi Kavya sree</td>
<td class="text-left">NEC0918013</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Mounika S</td>
<td class="text-left">NEC0918014</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Goli chekari ummamaheshwar reddy</td>
<td class="text-left">NEC0918015</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">C.H Praneeth</td>
<td class="text-left">NEC0918016</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2018</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>

</tbody>
</table>
<div class="btn-group btn-group-justified">

<a href="/table3" class="btn btn-info" role="button">GO BACK</a>

</div>
 </body>
