<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
  	<link rel="stylesheet" type="text/css" href="/st/table1_bio.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>BIO METRIC ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Student name</th>
<th class="text-left">token number</th>
	<th class="text-left">section</th>
	<th class="text-left">course</th>
	<th class="text-left">year</th>
	<th class="text-left">centre</th>
	<th class="text-left">date</th>
	<th class="text-left">in time</th>
	<th class="text-left">out time</th>
		<th class="text-left">hours</th>



</tr>
</thead>
<tbody class="table-hover">
	<tr>
	<td class="text-left">Abhijith Muralidharan</td>
	<td class="text-left">NEC0919001</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>

<tr>
<td class="text-left">Adireddy Lasyala</td>
<td class="text-left">NEC0919002</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Abhijith sasindran</td>
<td class="text-left">NEC0919003</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Anushka dinesh kaushal</td>
<td class="text-left">NEC0919004</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>
	<tr>
	<td class="text-left">Batchu arthi sree</td>
	<td class="text-left">NEC0919005</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Chilla mounika</td>
	<td class="text-left">NEC0919006</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Dakshayini M</td>
	<td class="text-left">NEC0919007</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Damu R</td>
	<td class="text-left">NEC0919008</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Deshanure sushanth kumar reedy</td>
	<td class="text-left">NEC0919009</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Eesarla phanindra babu</td>
	<td class="text-left">NEC0919010</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2019</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>



</tr>
<tr>
<td class="text-left">Gopikrishnan P</td>
<td class="text-left">NEC0919011</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">James francis</td>
<td class="text-left">NEC0919012</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">KM Jyothi paliwal</td>
<td class="text-left">NEC0919013</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">KM nirmal</td>
<td class="text-left">NEC0919014</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">KM Rachi</td>
<td class="text-left">NEC0919015</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">KM Samreem</td>
<td class="text-left">NEC0919016</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2019</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>

</tbody>
</table>
<div class="btn-group btn-group-justified">

<a href="/table3" class="btn btn-info" role="button">GO BACK</a>

</div>
 </body>
