<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
  	<link rel="stylesheet" type="text/css" href="/st/table1_bio.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>BIO METRIC ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Student name</th>
<th class="text-left">token number</th>
	<th class="text-left">section</th>
	<th class="text-left">course</th>
	<th class="text-left">year</th>
	<th class="text-left">centre</th>
	<th class="text-left">date</th>
	<th class="text-left">in time</th>
	<th class="text-left">out time</th>
		<th class="text-left">hours</th>



</tr>
</thead>
<tbody class="table-hover">
	<tr>
	<td class="text-left">Anandu m</td>
	<td class="text-left">NEC0917001</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>

<tr>
<td class="text-left">Amal saji</td>
<td class="text-left">NEC0917002</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">ashik adam</td>
<td class="text-left">NEC0917003</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Aviansh kumar</td>
<td class="text-left">NEC0917004</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>
	<tr>
	<td class="text-left">Dinesh kumar</td>
	<td class="text-left">NEC0917005</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Hemlata kumari</td>
	<td class="text-left">NEC0917006</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Jacelin Deepa k</td>
	<td class="text-left">NEC0917007</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Jokendhar R</td>
	<td class="text-left">NEC0917008</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">K Jayasree</td>
	<td class="text-left">NEC0917009</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>

	</tr>
	<tr>
	<td class="text-left">Kartheshwar G</td>
	<td class="text-left">NEC0917010</td>
		<td class="text-left">A</td>
		<td class="text-left">CP09</td>
		<td class="text-left">2017</td>
		<td class="text-left">NEC</td>
		<td class="text-left">04/12/2019</td>
		<td class="text-left">07:35am</td>
		<td class="text-left">04:45pm</td>
		<td class="text-left">8 hrs</td>



</tr>
<tr>
<td class="text-left">Manasa V</td>
<td class="text-left">NEC0917011</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Megha S</td>
<td class="text-left">NEC0917012</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Naveen raj K</td>
<td class="text-left">NEC0917013</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Prathapkumar A</td>
<td class="text-left">NEC0917014</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Subhashini L</td>
<td class="text-left">NEC0917015</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>
<tr>
<td class="text-left">Updesh Sharma</td>
<td class="text-left">NEC0917016</td>
	<td class="text-left">A</td>
	<td class="text-left">CP09</td>
	<td class="text-left">2017</td>
	<td class="text-left">NEC</td>
	<td class="text-left">04/12/2019</td>
	<td class="text-left">07:35am</td>
	<td class="text-left">04:45pm</td>
	<td class="text-left">8 hrs</td>

</tr>

</tbody>
</table>
<div class="btn-group btn-group-justified">

<a href="/table5" class="btn btn-info" role="button">GO BACK</a>

</div>
 </body>
